################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bg/bin/Debug
/bg/obj
/CommonHelp/bin/Debug
/CommonHelp/obj
/packages
